
<ion-content >

  <ion-item (click)="addDeleteFromFavorites()">
    <ion-icon slot="end" color="tertiary" name="heart-outline" *ngIf="!recipeInFavorites"></ion-icon>
    <ion-icon slot="end" color="tertiary" name="heart" *ngIf="recipeInFavorites"></ion-icon>
    <ion-label>Favorites</ion-label>
  </ion-item>

  <ion-list *ngFor="let collectionItem of collectionsItems; let collectionIndex=index;" class="user-list">
    <ion-item-sliding>
      <ion-item (click)="addRemoveToFromCollection(collectionItem, collectionIndex)">
        <ion-icon slot="end" color="tertiary" name="heart-outline" *ngIf="!recipeInCollection[collectionIndex]"></ion-icon>
        <ion-icon slot="end" color="tertiary" name="heart" *ngIf="recipeInCollection[collectionIndex]"></ion-icon>
        <ion-label>{{collectionItem.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="top" name="trash" (click)="deleteCollection(collectionItem, collectionIndex)">Delete collection</ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
<!--   no more than 15 custom collections allowed-->
  <ion-item *ngIf="collectionsNames.length<15">
    <ion-input (keyup.enter)="eventHandlerInputText()" [(ngModel)]="collectionNameFromInput"
               style="position: absolute; left: 0px;" placeholder="Add collection"></ion-input>
    <ion-button (click)="eventHandlerInputText()" slot="end">Add</ion-button>
  </ion-item>
</ion-content>


