.insertImage{
  font-size: 12px;
}

.forecast_container{
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll!important;
}

.ingredient-row {
  background-color: transparentize(#36abe0, 0.9);
}

.ingredientsInput{
  font-size: 8px;
}

ion-item ion-label{
  font-size: 18px;
}

p{
  padding-left: 1px;
  font-size: 12px;
}

ion-item{
  font-size: 18px;
}

ion-input{
  padding-left: 8px;
}

