<ion-header no-border>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Add Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <form [formGroup]="recipeForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Recipe</ion-label>
        <ion-input formControlName="recipeText" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Difficulty</ion-label>
        <ion-input formControlName="recipeDifficulty" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Time (min.)</ion-label>
        <ion-input formControlName="recipeTime" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Video url</ion-label>
        <ion-input formControlName="videoUrl" type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Collection</ion-label>
        <ion-input formControlName="collections" type="text">
        </ion-input>
      </ion-item>

      <!-- DESIRED PREFERENCES -->
      <ion-card>
        <ion-item lines="none" color="tertiary">
          <ion-icon slot="start" name="nutrition"></ion-icon>
          <ion-label>Desired food</ion-label>
          <ion-select multiple="true" placeholder="Choose" (ionChange)="toggleDesiredFood($event)">
        <span *ngFor="let desiredFood of ingredientsDic.desiredFoodList">
        <ion-select-option value="{{desiredFood}}">{{desiredFood}}</ion-select-option>
        </span>
          </ion-select>
        </ion-item>

      <!-- ALLERGIES -->
        <ion-item lines="none" color="tertiary">
          <ion-icon slot="start" name="egg"></ion-icon>
          <ion-label>Allergies</ion-label>
          <ion-select multiple="true" placeholder="Choose" (ionChange)="toggleAllergies($event)">
        <span *ngFor="let allergy of ingredientsDic.allergiesList">
        <ion-select-option value="{{allergy}}">{{allergy}}</ion-select-option>
        </span>
          </ion-select>
        </ion-item>
      </ion-card>


      <!-- Images selector -->
      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-card-title>Choose Images to Upload</ion-card-title>
        </ion-card-header>
        <ion-card-content class="insertImage" (change)="uploadFile($event.target.files)">
          <ion-button color="primary" shape="square" expand="block" >
            <input id="uploadBtn" type="file" class="upload" />
          </ion-button>
          Images Uploaded:<br>
          <ion-item *ngFor="let imageName of imagesUploaded" class="user-list">
            <div>
              {{imageName.split('.')[0].substring(0,6)}}... .jpg
              <ion-icon name="cloud-done-outline"></ion-icon>
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card>


      <!-- Default Searchbar -->
      <ion-card padding>

        <ion-list *ngIf="showSearchBarResults">
          <ion-item *ngFor="let ingredient of this.ingredients | keyvalue">
            <ion-label color="dark" (click)="toggleIngredient(ingredient.value)">{{(ingredient.value).split("_").join(" ")}}</ion-label>
            <ion-icon (click)="toggleIngredient(ingredient.value)"
                      [name]="this.recipeForm.value.ingredientsForm.ingredients[ingredient.value].selected ? 'checkmark-sharp' : 'add-outline'" item-end ></ion-icon>
          </ion-item>
        </ion-list>

        <ion-searchbar (ionChange)="_ionChange($event)" animated placeholder="Ingredients...">
        </ion-searchbar>

        <ion-list lines="full" *ngFor="let ingredient of recipeForm.value.ingredientsForm.ingredients | keyvalue">
          <ion-item *ngIf="ingredient.value.selected">
            <p slot="start" position="floating">{{(ingredient.key).split("_").join(" ")}}</p>
            <ion-item>
              <ion-input class="ingredientsInput" (ionChange)="changeDose($event, ingredient.key)" debounce="500" type="number" placeholder="dose" clearInput required></ion-input>
              <ion-input class="ingredientsInput" (ionChange)="changeDoseType($event, ingredient.key)" debounce="500" type="text" placeholder="unit" clearInput required></ion-input>
              <ion-icon (click)="toggleIngredient(ingredient.key)" name="trash-sharp" item-end></ion-icon>
            </ion-item>
          </ion-item>
        </ion-list>


      </ion-card>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" shape="full" expand="block">Add Recipe</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>



</ion-content>


<!--
 <ion-label>Selected ingredients:</ion-label>
        <ion-grid *ngFor="let ingredient of recipeForm.value.ingredientsForm.ingredients | keyvalue">
          <ion-row *ngIf="ingredient.value.selected" class="ingredient-row">
            <ion-col size="1" class="ion-align-self-start">
              <ion-icon (click)="toggleIngredient(ingredient.key)" name="trash-sharp" item-end></ion-icon>
            </ion-col>

            <ion-col size="11">
              <ion-row class="ion-align-self-end">
                <ion-col size="5" class="ion-align-self-start">
                  <ion-label color="primary">{{ingredient.key}}</ion-label>
                </ion-col>
                <ion-col size="6" class="ion-align-self-end" style="text-align: right">
                  Quantity <ion-input (ionChange)="changeDose($event, ingredient.key)" debounce="500" type="number" clearInput required></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                </ion-col>
                <ion-col size="6" style="text-align: center">
                  <ion-label> Type <ion-input (ionChange)="changeDoseType($event, ingredient.key)" debounce="500" type="text" clearInput required></ion-input>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
 -->
