.insertImage{
  font-size: 12px;
}

.forecast_container{
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll!important;
}

.ingredient-row {
  background-color: transparentize(#36abe0, 0.9);
}



