<ion-header>
  <ion-toolbar>
    <ion-title>Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- DESIRED PREFERENCES -->
  <ion-card>
    <ion-item lines="none" color="tertiary">
      <ion-icon slot="start" name="nutrition"></ion-icon>
      <ion-label text-wrap>Dietary preferences</ion-label>
      <ion-select multiple="true" placeholder="Choose" (ionChange)="toggleDesiredFood($event)" [value]="this.desiredFood">
        <span *ngFor="let desiredFood of ingredientsDic.desiredFoodList">
        <ion-select-option value="{{desiredFood}}">{{desiredFood}}</ion-select-option>
        </span>
      </ion-select>
    </ion-item>
  </ion-card>

  <!-- ALLERGIES -->
  <ion-card>
    <ion-item lines="none" color="tertiary">
      <ion-icon slot="start" name="egg"></ion-icon>
      <ion-label text-wrap>Allergies</ion-label>
      <ion-select multiple="true" placeholder="Choose" (ionChange)="toggleAllergies($event)" [value]="this.allergies">
        <span *ngFor="let allergy of ingredientsDic.allergiesList">
        <ion-select-option value="{{allergy}}">{{allergy}}</ion-select-option>
        </span>
      </ion-select>
    </ion-item>
  </ion-card>

  <!-- UNDESIRED PREFERENCES -->
  <ion-card>
    <ion-item lines="none" color="tertiary">
      <ion-icon slot="start" name="fish"></ion-icon>
      <ion-label text-wrap>Undesired food</ion-label>
      <ion-select multiple="true" placeholder="Choose" (ionChange)="toggleUndesiredFood($event)" [value]="this.undesiredFood">
        <span *ngFor="let undesiredFood of undesiredDic | keyvalue">
        <ion-select-option value="{{undesiredFood.key}}">{{undesiredFood.key}}</ion-select-option>
        </span>
      </ion-select>
    </ion-item>
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col *ngIf="unsavedChanges" size="6" class="ion-text-center">
        <ion-button color="tertiary" lines="none" (click)="submit()" style="border-radius: 25px">
          <div style="width: 100%; text-align: center;"><b>Save</b></div>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!unsavedChanges" size="6" class="ion-text-center">
        <ion-button color="light" lines="none" style="border-radius: 25px" disabled="true">
          <div style="width: 100%; text-align: center; color: grey"><b>Save</b></div>
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
