.ion-color-tertiary2{
  --ion-color-base: var(--ion-color-tertiary2) !important;
}
.ion-color-tertiary3{
  --ion-color-base: var(--ion-color-tertiary3) !important;
}
.ion-color-mainDark{
  --ion-color-base: var(--ion-color-mainDark);
}
.ion-color-mainMedium{
  --ion-color-base: var(--ion-color-mainMedium);
}
.ion-color-mainLight{
  --ion-color-base: var(--ion-color-mainLight);
}

ion-icon{
  color: #FFFFFF;
}

ion-select{
  color: #FFFFFF!important;
}

ion-item  ion-label{
  color: #FFFFFF!important;
}

ion-card{
  border-radius: 12px;
}

*{
  font-family: RobotoSlab;
}
