<ion-header>
  <ion-toolbar>
    <img class="logo" src="../../assets/svg/logo5.png"/>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataFetched" color="light" fullscreen="true">
  <ion-card style="margin: -30px 0px 0px 0px !important; padding: 10px;">
    <ion-label color="mainDark" style="margin-top: -60px!important;"><br><br><h1><b>Picks for you</b></h1></ion-label>
  <ion-slides [options]="option" class="" style="height: 300px; margin-top: -60px!important; margin-bottom: -50px!important;">
    <ion-slide *ngFor="let recipeItem of picks">
      <ion-card (click)="openRecipe(recipeItem)" class="myCard pickgradient">
          <img src="{{recipeItem.title_image}}" class="pickgradient">
      </ion-card>
      <div class="myOverlay" style="color: rgb(91,135,163)!important;">
        {{ recipeItem.name }}
      </div>
    </ion-slide>
  </ion-slides>

  <!--  Now we display the fixed collections -->
    <ion-label color="mainDark" style="margin-top: -60px!important;"><br><br><h1><b>Our collections</b></h1></ion-label>
    <ion-list lines="none" class="" style="padding-top: 0% !important;" *ngFor="let collectionItem of collections">
        <ion-card style="border-radius: 15px; margin: 5px !important;">
          <div class="card" disabled="true" (click)="openCollection(collectionItem)">
            <img [src]="collectionItem.coverImage"/>
          </div>
          <ion-card-header>
              <ion-card-title (click)="openCollection(collectionItem)" color="mainMedium"><h1><b>{{collectionItem.name}}</b></h1></ion-card-title>
              <ion-label (click)="openCollection(collectionItem)">{{collectionItem.numberOfRecipes}} total recipes</ion-label>
              <ion-label text-wrap>
                <ion-chip color="warning" (click)="openPreferences()" *ngIf="preferencesActive"><ion-icon size="small" name="person"></ion-icon><ion-label>Preferences</ion-label></ion-chip>
              </ion-label>
          </ion-card-header>
        </ion-card>
    </ion-list>
  </ion-card>
</ion-content>

<ion-content *ngIf="!dataFetched" color="light">
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card style="border-radius: 15px; margin: 10px !important;">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-skeleton-text ></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card style="border-radius: 15px; margin: 10px !important;">
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>


      <ion-card style="height: 25%!important; border-radius: 15px; margin: 10% !important;">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-skeleton-text ></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-card style="height: 25%!important; border-radius: 15px; margin: 10% !important;">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-skeleton-text ></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
      <ion-card style="height: 25%!important; border-radius: 15px; margin: 10% !important;">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-skeleton-text ></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>

</ion-content>

