
<ion-content *ngIf="dataFetched" color="light">
  <ion-item lines="none" color="light"><h1><ion-label color="">Picks for you</ion-label></h1></ion-item>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide *ngFor="let recipeItem of recipes">
      <ion-card (click)="openRecipe(recipeItem)">
        <img src="{{recipeItem.title_image}}">
      </ion-card>
    </ion-slide>
  </ion-slides>

  </ion-content>

<ion-content *ngIf="!dataFetched" color="light">
  <ion-item lines="none" color="light"><h1>Picks for you</h1></ion-item>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-skeleton-text ></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>

