<ion-header>
  <ion-toolbar>
    <ion-title>presentation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="../../assets/img/AlooGobi.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/img/AlooGobi.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/img/AlooGobi.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/img/AlooGobi.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/img/AlooGobi.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
