.md ion-chip{
  margin: 1px !important;
  border: 1px !important;
}


div.scroll {
  margin: 4px;
  padding: 4px;
  width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-card{
  border-radius: 12px;
  margin: 8px !important;
}


.assistant-overlay {
  position: fixed;
  width: 65%;
  height: 12%;
  background: rgba(0,0,0,0.9);
  z-index: 20;
  bottom: 10px;
  left: 10%;
  color: white;
  font-size: 11px;
  border-radius: 25px;
  padding: 10px;
}

