.md ion-chip{
  margin: 1px !important;
  border: 1px !important;
}


div.scroll {
  margin: 4px;
  padding: 4px;
  width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-card{
  border-radius: 12px;
  margin: 8px !important;
}


.assistant-overlay {
  position: fixed;
  width: 65%;
  height: 12%;
  background: rgb(15, 81, 245);
  z-index: 20;
  bottom: 10px;
  right: 21%;
  color: white;
  font-size: 12px;
  border-radius: 25px;
  padding: 12px;
}
/*pulse animation*/
#mic_animated {
  border-radius: 50%;
  background: #cca92c;
  display: block;
  box-shadow: 0 0 0 rgb(199, 0, 255);
  animation: pulse 2s;
}

#available_animated {
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 0 rgb(255, 0, 0);
  animation: pulse_red 1s;
  animation-fill-mode: forwards;
}

#undesired_animated {
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 0 rgb(255, 0, 0);
  animation: pulse_red 1s;
  animation-fill-mode: forwards;
}

#summary_animated {
  display: block;
  box-shadow: 0 0 0 rgb(199, 0, 255);
  animation: pulse 1s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(17, 42, 205);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(30, 39, 210);
    box-shadow: 0 0 0 0 rgba(30, 39, 210, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes pulse_red {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(255, 0, 0);
    box-shadow: 0 0 0 0 rgb(255, 0, 0);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
