<ion-header>
  <ion-toolbar>
    <ion-title color="mainDark" class="ion-text-center"><ion-label text-wrap><h1><b>Search recipes</b></h1></ion-label></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" forceOverscroll="true">
<br>
    <ion-card class="desiredIcon">
      <ion-item class="desiredIcon"  color="mainDark" lines="none" (click)="toggleSearchAllIngredients()">
        <ion-icon class="desiredIcon" [color]="searchAllIngredients ? 'light' : 'light'" mode="md" slot="start" [name]="searchAllIngredients ? 'checkbox' : 'square-outline'"></ion-icon>
        <ion-label color="light" text-wrap><h1>Desired ingredients</h1></ion-label>
        <ion-icon class="desiredIcon" slot="end" [color]="searchAllIngredients ? 'light' : 'mainDark'" [name]="searchAllIngredients ? 'thumbs-up' : ''"></ion-icon>
      </ion-item>
      <ion-toolbar style="padding-top: 10px!important;" *ngIf="searchAllIngredients">
        <ion-segment (ionChange)="allIngredientsChanged($event)" value="mainIngredients" color="tertiary">
          <ion-segment-button value="mainIngredients">
            <span text-wrap>
            <ion-icon color="medium" name="egg"></ion-icon>
            <ion-icon size="large" [color]="searchMainIngredients ? 'mainDark' : 'medium'" name="nutrition"></ion-icon>
            <ion-icon color="medium" name="fish"></ion-icon>
          </span>
          </ion-segment-button>
          <ion-segment-button value="availableIngredients">
            <span text-wrap>
              <ion-icon size="large" [color]="searchAvailableIngredients ? 'mainDark' : 'medium'" name="nutrition"></ion-icon>
            </span>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <!-- AVAILABLE INGREDIENTS -->
      <ion-card-content *ngIf="searchAllIngredients && searchAvailableIngredients">
        <ion-item lines="none" *ngIf="searchAvailableIngredients" class="ion-justify-content-center">
          <div style="width: 100%; text-align: center;"><h1>I only have...</h1></div>
        </ion-item>
        <!-- SEARCH BAR -->
        <ion-searchbar *ngIf="searchAvailableIngredients" (ionChange)="_ionChangeAvailable($event)" debounce="250" animated placeholder="Type eggs, milk, ...">
        </ion-searchbar>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchAvailableIngredients"  style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
              <ion-icon name="mic-outline" color="mainMedium"></ion-icon> "<b>I have</b> eggs, milk, ..." <br>
              <!--<ion-button shape="round" color="secondary" (click)="speakIngredients('available')"><ion-icon name="mic-outline"></ion-icon></ion-button>-->
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
        <!-- AVAILABLE INGREDIENTS SEARCH RESULT -->
        <ion-card-content *ngIf="showAvailableSearchBarResults && searchAvailableIngredients">
          <ion-col size="12">
          <span *ngFor="let ingredient of this.availableIngredients | keyvalue">
            <ion-chip [color]="this.ing.ingredients[ingredient.value].selected ? 'light' : 'dark'">
              <ion-label [color]="this.ing.ingredients[ingredient.value].selected ? 'success' : 'dark'" (click)="toggleAvailableIngredient(ingredient.value)">{{(ingredient.value).split('_').join(' ')}}</ion-label>
              <ion-icon (click)="toggleAvailableIngredient(ingredient.value)"
                        [name]="this.ing.ingredients[ingredient.value].selected ? 'checkmark-sharp' : 'add-outline'"
                        [color]="this.ing.ingredients[ingredient.value].selected ? 'success' : 'dark'"></ion-icon>
            </ion-chip>
          </span>
          </ion-col>
        </ion-card-content>
        <hr class="solid" *ngIf="showAvailableSearchBarResults">
        <!-- AVAILABLE INGREDIENTS SELECTED -->
        <ion-card-content *ngIf="searchAvailableIngredients">
          <ion-col size="12">
              <span *ngFor="let ingredient of this.availableIngredientsKeys">
                <span *ngIf="this.ing.ingredients[ingredient].selected">
                  <ion-chip *ngIf="this.ing.ingredients[ingredient].selected" color="success">
                    <ion-label color="success">{{(ingredient).split('_').join(' ')}}</ion-label>
                    <ion-icon (click)="toggleAvailableIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
          </ion-col>
        </ion-card-content>
      </ion-card-content>

      <!-- MAIN INGREDIENTS -->
      <ion-card-content *ngIf="searchAllIngredients">
        <ion-item lines="none" *ngIf="searchMainIngredients">
          <div style="width: 100%; text-align: center;"><h1>Recipes with...</h1></div>
        </ion-item>
        <!-- SEARCH BAR -->
        <ion-searchbar *ngIf="searchMainIngredients" (ionChange)="_ionChangeMain($event)" debounce="250" animated placeholder="Type rice, butter, ...">
        </ion-searchbar>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchMainIngredients"  style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
              <ion-icon name="mic-outline" color="mainMedium"></ion-icon> "<b>I like</b> rice, butter, ..." <br>
              <!--<ion-button shape="round" color="secondary" (click)="speakIngredients('available')"><ion-icon name="mic-outline"></ion-icon></ion-button>-->
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
        <!-- MAIN INGREDIENTS SEARCH RESULT -->
        <ion-card-content *ngIf="showMainSearchBarResults">
          <ion-col size="12">
          <span *ngFor="let ingredient of this.mainIngredients | keyvalue">
            <ion-chip [color]="this.ingMain.ingredients[ingredient.value].selected ? 'light' : 'dark'">
              <ion-label [color]="this.ingMain.ingredients[ingredient.value].selected ? 'success' : 'dark'" (click)="toggleMainIngredient(ingredient.value)">{{(ingredient.value).split('_').join(' ')}}</ion-label>
              <ion-icon (click)="toggleMainIngredient(ingredient.value)"
                        [name]="this.ingMain.ingredients[ingredient.value].selected ? 'checkmark-sharp' : 'add-outline'"
                        [color]="this.ingMain.ingredients[ingredient.value].selected ? 'success' : 'dark'"></ion-icon>
            </ion-chip>
          </span>
          </ion-col>
        </ion-card-content>
        <hr class="solid" *ngIf="showMainSearchBarResults">
        <!-- MAIN INGREDIENTS SELECTED -->
        <ion-card-content *ngIf="searchMainIngredients">
          <ion-col size="12">
                <span *ngFor="let ingredient of this.mainIngredientsKeys">
                  <span *ngIf="this.ingMain.ingredients[ingredient].selected">
                    <ion-chip *ngIf="this.ingMain.ingredients[ingredient].selected" color="success">
                      <ion-label color="success">{{(ingredient).split('_').join(' ')}}</ion-label>
                      <ion-icon (click)="toggleMainIngredient(ingredient)" name="close"></ion-icon>
                    </ion-chip>
                  </span>
                </span>
          </ion-col>
        </ion-card-content>
      </ion-card-content>
    </ion-card>

    <b><div style="width: 100%; text-align: center;">Advanced filters</div></b>
      <!-- MAX TIME REQUIRED -->
      <div class="maxTimeIcon">
        <ion-item class="maxTimeIcon" lines="none" color="" (click)="toggleRequiredTime()">
          <ion-icon class="maxTimeIcon" color="mainLight" slot="start" [name]="searchRequiredTime ? 'checkbox' : 'square-outline'"></ion-icon>
          Time required
          <ion-icon class="maxTimeIcon" slot="end" [color]="searchRequiredTime ? 'mainLight' : 'light'" name="stopwatch"></ion-icon>
        </ion-item>
        <ion-list *ngIf="searchRequiredTime" lines="none">
          <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime (ionChange)="timeRequiredChange($event)" minuteValues="0,5,10,15,30,45,50,55" displayFormat="H:mm" hourValues="0,1,2,3" pickerFormat="H mm" value="00:30"></ion-datetime>
            </ion-item>
          <ion-row><ion-col size="12"></ion-col></ion-row>
        </ion-list>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchRequiredTime" style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
              <ion-icon name="mic-outline" color="mainMedium"></ion-icon> "<b>Set timer</b> to 40 <b>minutes</b>" <br>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
          <ion-row><ion-col size="12"></ion-col></ion-row>
        </ion-grid>
      </div>

      <!-- UNDESIRED INGREDIENTS -->
      <div class="undesiredIcon">
        <ion-item class="undesiredIcon" lines="none" color="" (click)="toggleSearchUndesiredIngredients()">
          <ion-icon class="undesiredIcon" color="mainLight" slot="start" [name]="searchUndesiredIngredients ? 'checkbox' : 'square-outline'"></ion-icon>
          Undesired ingredients
          <ion-icon class="undesiredIcon" slot="end" [color]="searchUndesiredIngredients ? 'mainLight' : 'light'" name="thumbs-down"></ion-icon>
          </ion-item>
        <!-- SEARCH BAR -->
        <ion-searchbar *ngIf="searchUndesiredIngredients" (ionChange)="_ionChangeUndesired($event)" debounce="250" animated placeholder="Type milk, mushrooms, ...">
        </ion-searchbar>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchUndesiredIngredients" style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
              <ion-icon name="mic-outline" color="mainMedium"></ion-icon>"<b>I don't want</b> butter, lemons, ..."
              <!--<ion-button shape="round" color="secondary" (click)="speakIngredients('undesired')"><ion-icon name="mic-outline"></ion-icon></ion-button>-->
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
        <!-- UNDESIRED INGREDIENTS SEARCH RESULT -->
        <ion-card-content *ngIf="showUndesiredSearchBarResults && searchUndesiredIngredients" >
        <ion-col size="12">
          <span *ngFor="let ingredient of this.undesiredIngredients | keyvalue">
            <ion-chip [color]="this.ingUndesired.ingredients[ingredient.value].selected ? 'light' : 'dark'">
                <ion-label [color]="this.ingUndesired.ingredients[ingredient.value].selected ? 'danger' : 'dark'" (click)="toggleUndesiredIngredient(ingredient.value)">{{(ingredient.value).split('_').join(' ')}}</ion-label>
                <ion-icon (click)="toggleUndesiredIngredient(ingredient.value)"
                          [name]="this.ingUndesired.ingredients[ingredient.value].selected ? 'checkmark-outline' : 'add-outline'"
                          [color]="this.ingUndesired.ingredients[ingredient.value].selected ? 'danger' : 'dark'"></ion-icon>
              </ion-chip>
          </span>
        </ion-col>
        </ion-card-content>
        <hr class="solid" *ngIf="showUndesiredSearchBarResults">
        <!-- UNDESIRED INGREDIENTS SELECTED -->
        <ion-card-content *ngIf="searchUndesiredIngredients">
        <ion-col size="12">
          <span *ngFor="let ingredient of this.undesiredIngredientsKeys">
            <span *ngIf="this.ingUndesired.ingredients[ingredient].selected">
              <ion-chip *ngIf="showUndesiredIngredients && this.ingUndesired.ingredients[ingredient].selected " color="danger">
                <ion-label text-wrap color="danger">{{(ingredient).split('_').join(' ')}}</ion-label>
                <ion-icon (click)="toggleUndesiredIngredient(ingredient)" name="close"></ion-icon>
              </ion-chip>
            </span>
          </span>
        </ion-col>
        </ion-card-content>
      </div>
          <!-- DIFFICULTY -->
      <div class="difficultyIcon">
        <ion-item class="difficultyIcon" lines="none" color="" (click)="toggleSearchDifficulty()">
          <ion-icon class="difficultyIcon" color="mainLight" slot="start" [name]="searchDifficulty ? 'checkbox' : 'square-outline'"></ion-icon>
          Difficulty
          <ion-icon class="difficultyIcon" slot="end" [color]="searchDifficulty ? 'mainLight' : 'light'" name="flame"></ion-icon>
        </ion-item>
          <ion-segment *ngIf="searchDifficulty" (ionChange)="toggleDifficulty($event)" color="tertiary" [value]="difficulty">
            <ion-segment-button value="easy">
              <ion-label>Easy</ion-label>
            </ion-segment-button>
            <ion-segment-button value="medium">
              <ion-label>Medium</ion-label>
            </ion-segment-button>
            <ion-segment-button value="hard">
              <ion-label>Hard</ion-label>
            </ion-segment-button>
          </ion-segment>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchDifficulty" style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
              <ion-icon name="mic-outline" color="mainMedium"></ion-icon> "<b>Set difficulty</b> to <b>medium</b>" <br>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
          <ion-row><ion-col size="12"></ion-col></ion-row>
        </ion-grid>
      </div>
    <!-- SEARCH BY NAME -->
    <div class="keywordIcon">
      <ion-item lines="none" color="" (click)="toggleSearchKeyword()">
        <ion-icon class="desiredIcon" color="mainLight" slot="start" [name]="searchKeyword ? 'checkbox' : 'square-outline'"></ion-icon>
        Keyword
        <ion-icon class="maxTimeIcon" slot="end" [color]="searchKeyword ? 'mainLight' : 'light'" name="key"></ion-icon>
      </ion-item>
      <ion-searchbar *ngIf="searchKeyword" (ionChange)="onChangeName($event)" debounce="250" animated placeholder="Cake, pasta, ..." [value]="queryRecipeName">
      </ion-searchbar>
    </div>
    <!-- COLLECTIONS -->
    <div class="collectionIcon">
      <ion-item class="collectionIcon" lines="none" color="" (click)="toggleSearchCollections()">
        <ion-icon class="collectionIcon" color="mainLight" slot="start" [name]="searchCollections ? 'checkbox' : 'square-outline'"></ion-icon>
        Collections
        <ion-icon class="collectionIcon" slot="end" [color]="searchCollections ? 'mainLight' : 'light'" name="nutrition"></ion-icon>
      </ion-item>
      <ion-item lines="none" *ngIf="searchCollections">
        <ion-label>Search in</ion-label>
        <ion-select multiple="true" placeholder="Choose"  (ionChange)="toggleCollections($event)">
        <span *ngFor="let collectionItem of collectionsFetched">
        <ion-select-option value="{{collectionItem.name}}">{{collectionItem.name}}</ion-select-option>
        </span>
        </ion-select>
      </ion-item>
    </div>




<br><br>
      <ion-card id="summary_animated" style="margin: 16px !important;" *ngIf="searchDifficulty || searchUndesiredIngredients || searchRequiredTime || queryRecipeName != '' || searchAllIngredients || searchCollections">
        <ion-card-header>
          <ion-item lines="none"><ion-icon slot="start" size="large" color="mainMedium" name="reader-outline"></ion-icon><h1>Summary</h1></ion-item>
        </ion-card-header>
        <ion-grid>
          <ion-row *ngIf="queryRecipeName !== '' && searchKeyword" class="ion-align-items-stretch">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="clearKeyword()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="tertiary" name="key-outline"></ion-icon></ion-col>
            <ion-col size="4">Keywords</ion-col>
            <ion-col>
              <b>{{queryRecipeName}}</b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchRequiredTime" style="background-color: rgba(255, 196, 9, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleRequiredTime()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="warning" name="stopwatch"></ion-icon></ion-col>
            <ion-col size="4">Ready in</ion-col>
            <ion-col size="6">
              <b>{{maxRequiredTime}} minutes </b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchDifficulty" style="background-color: rgba(61, 194, 255, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchDifficulty()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="secondary" name="flame"></ion-icon></ion-col>
            <ion-col size="4">Difficulty</ion-col>
            <ion-col size="6">
              <b>{{difficulty}} </b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchCollections" style="background-color: rgba(82, 96, 255, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchCollections()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="tertiary" name="nutrition"></ion-icon></ion-col>
            <ion-col size="4">Search in</ion-col>
            <ion-col size="6">
              <span *ngFor="let item of this.collections">
                <li>{{item}}</li>
              </span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchAvailableIngredients && searchAllIngredients" style="background-color: rgba(45, 211, 11, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchAllIngredients()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="success" name="thumbs-up"></ion-icon></ion-col>
            <ion-col size="4">I have</ion-col>
            <ion-col size="6">
              <span *ngFor="let ingredient of this.availableIngredientsKeys">
                <span *ngIf="this.ing.ingredients[ingredient].selected">
                  <ion-chip *ngIf="this.ing.ingredients[ingredient].selected " color="success">
                    <ion-label text-wrap color="success">{{(ingredient).split('_').join(' ')}}</ion-label>
                    <ion-icon (click)="toggleAvailableIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchMainIngredients && searchAllIngredients" style="background-color: rgba(45, 211, 11, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchAllIngredients()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="success" name="thumbs-up"></ion-icon></ion-col>
            <ion-col size="4">Something with</ion-col>
            <ion-col size="6">
              <span *ngFor="let ingredient of this.mainIngredientsKeys">
                <span *ngIf="this.ingMain.ingredients[ingredient].selected">
                  <ion-chip *ngIf="this.ingMain.ingredients[ingredient].selected " color="success">
                    <ion-label text-wrap color="success">{{(ingredient).split('_').join(' ')}}</ion-label>
                    <ion-icon (click)="toggleMainIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchUndesiredIngredients" style="background-color: rgba(235, 68, 90, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchUndesiredIngredients()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="danger" name="thumbs-down"></ion-icon></ion-col>
            <ion-col size="4">
            I don't want
            </ion-col>
            <ion-col size="6">
              <span *ngFor="let ingredient of this.undesiredIngredientsKeys">
                <span *ngIf="this.ingUndesired.ingredients[ingredient].selected">
                  <ion-chip *ngIf="showUndesiredIngredients && this.ingUndesired.ingredients[ingredient].selected " color="danger">
                    <ion-label text-wrap color="danger">{{(ingredient).split('_').join(' ')}}</ion-label>
                    <ion-icon (click)="toggleUndesiredIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-item lines="none" color="mainDark" (click)="submit()" style="border-radius: 12px">
          <ion-icon slot="start" color="light" name="search-sharp"></ion-icon>
          <ion-label color="light" text-wrap>Search</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

    <ion-fab id="mic_animated" class="mic_animated" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button *ngIf="voiceActiveSectionDisabled && !speaking" color="mainDark" (click)="startVoiceRecognition()" mode="ios">
        <ion-icon name="mic-outline" mode="ios" style="font-size: 2em; color: #ffffff"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="!voiceActiveSectionDisabled && !speaking" color="success" (click)="closeVoiceRecognition()" mode="ios">
        <ion-icon name="mic-outline" mode="ios" style="font-size: 2em;"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="speaking" color="danger" mode="ios">
        <ion-icon name="mic-outline" mode="ios" style="font-size: 2em;"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div class="assistant-overlay" *ngIf="speaking || !voiceActiveSectionDisabled">
      <p style="color: #FFFFFF"><span slot="start" class="ion-text-end">{{voiceTextUser}}</span></p>
    </div>


  </ion-content>
