
  <br>

  <ion-content mode="ios">
    <ion-card>
      <!-- SEARCH BY NAME -->
      <ion-card-header><b>Search recipe by keywords</b></ion-card-header>
      <ion-card-content>
        <ion-searchbar (ionChange)="onChangeName($event)" debounce="250" animated placeholder="Cake, pasta, ...">
        </ion-searchbar>
      </ion-card-content>
    </ion-card>


    <h1><ion-item lines="none"><b>Advanced filters</b></ion-item></h1>
      <ion-card>
          <ion-item lines="none">
            Max time required<ion-toggle checked="false" (click)="toggleRequiredTime()" color="secondary" slot="end"></ion-toggle>
          </ion-item>
        <ion-list *ngIf="searchRequiredTime" lines="none">
          <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime *ngIf="this.platform.is('desktop')" mode="ios" (ionChange)="timeRequiredChange($event)" minuteValues="0,5,10,15,30,45,50" displayFormat="HH:mm" pickerFormat="HH mm" value="00:30"></ion-datetime>
            <ion-datetime *ngIf="this.platform.is('android')" mode="md" (ionChange)="timeRequiredChange($event)" minuteValues="0,5,10,15,30,45,50" displayFormat="HH:mm" pickerFormat="HH mm" value="00:30"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-card>


      <ion-card>
        <ion-item lines="none">
          Available ingredients <ion-toggle checked="false" (click)="toggleSearchAvailableIngredients()" color="secondary" slot="end"></ion-toggle>
        </ion-item>
        <!-- SEARCH BAR -->
        <ion-searchbar *ngIf="searchAvailableIngredients" (ionChange)="_ionChangeAvailable($event)" debounce="250" animated placeholder="Type eggs, milk, ...">
        </ion-searchbar>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchAvailableIngredients" style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="3"></ion-col>
            <ion-col size="6" class="ion-text-center">
              or use your voice <br>
              <ion-button color="secondary" (click)="speakIngredients('available')"><ion-icon name="mic-outline"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
        </ion-grid>
        <!-- AVAILABLE INGREDIENTS SEARCH RESULT -->
        <div class="scroll" *ngIf="showAvailableSearchBarResults && searchAvailableIngredients">
          <span *ngFor="let ingredient of this.availableIngredients | keyvalue">
            <ion-chip [color]="this.ing.ingredients[ingredient.value].selected ? 'light' : 'dark'">
              <ion-label [color]="this.ing.ingredients[ingredient.value].selected ? 'success' : 'dark'" (click)="toggleAvailableIngredient(ingredient.value)">{{ingredient.value}}</ion-label>
              <ion-icon (click)="toggleAvailableIngredient(ingredient.value)"
                        [name]="this.ing.ingredients[ingredient.value].selected ? 'checkmark-sharp' : 'add-outline'"
                        [color]="this.ing.ingredients[ingredient.value].selected ? 'success' : 'dark'"></ion-icon>
            </ion-chip>
          </span>
        </div>
        <!-- AVAILABLE INGREDIENTS SELECTED -->
        <div *ngIf="!showUndesiredSearchBarResults && searchUndesiredIngredients" >
          <span>
              <ion-chip color="light">
                <ion-label color="light"></ion-label> <!-- EMPTY SPACE -->
              </ion-chip>
          </span>
        </div>
        <div class="scroll">
            <span *ngFor="let ingredient of this.availableIngredientsKeys">
              <span *ngIf="showAvailableIngredients && this.ing.ingredients[ingredient].selected" color="success">
                <ion-chip color="success">
                        <ion-label color="success">{{ingredient}}</ion-label>
                        <ion-icon (click)="toggleAvailableIngredient(ingredient)" name="close"></ion-icon>
                </ion-chip>
              </span>
            </span>
        </div>
      </ion-card>

      <!-- UNDESIRED INGREDIENTS -->
      <ion-card>
        <!-- SEARCH BAR -->
        <ion-item lines="none">
          Undesired ingredients <ion-toggle checked="false" (click)="toggleSearchUndesiredIngredients()" color="secondary" slot="end"></ion-toggle>
        </ion-item>
        <ion-searchbar *ngIf="searchUndesiredIngredients" (ionChange)="_ionChangeUndesired($event)" debounce="250" animated placeholder="Type milk, mushrooms, ...">
        </ion-searchbar>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchUndesiredIngredients" style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="3"></ion-col>
            <ion-col size="6" class="ion-text-center">
              or use your voice <br>
              <ion-button color="secondary" (click)="speakIngredients('undesired')"><ion-icon name="mic-outline"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
        </ion-grid>
        <!-- UNDESIRED INGREDIENTS SEARCH RESULT -->
        <div class="scroll" *ngIf="showUndesiredSearchBarResults && searchUndesiredIngredients" >
          <span *ngFor="let ingredient of this.undesiredIngredients | keyvalue">
            <ion-chip [color]="this.ingUndesired.ingredients[ingredient.value].selected ? 'light' : 'dark'">
                <ion-label [color]="this.ingUndesired.ingredients[ingredient.value].selected ? 'danger' : 'dark'" (click)="toggleUndesiredIngredient(ingredient.value)">{{ingredient.value}}</ion-label>
                <ion-icon (click)="toggleUndesiredIngredient(ingredient.value)"
                          [name]="this.ingUndesired.ingredients[ingredient.value].selected ? 'checkmark-outline' : 'add-outline'"
                          [color]="this.ingUndesired.ingredients[ingredient.value].selected ? 'danger' : 'dark'"></ion-icon>
              </ion-chip>
          </span>
        </div>
        <!-- UNDESIRED INGREDIENTS SELECTED -->
        <div *ngIf="!showUndesiredSearchBarResults && searchUndesiredIngredients" >
          <span>
              <ion-chip color="light">
                <ion-label color="light"></ion-label> <!-- EMPTY SPACE -->
              </ion-chip>
          </span>
        </div>
        <div class="scroll">
          <span *ngFor="let ingredient of this.undesiredIngredientsKeys">
            <span *ngIf="showUndesiredIngredients && this.ingUndesired.ingredients[ingredient].selected ">
              <ion-chip color="danger">
                <ion-label color="danger">{{ingredient}}</ion-label>
                <ion-icon (click)="toggleUndesiredIngredient(ingredient)" name="close" color="danger"></ion-icon>
              </ion-chip>
            </span>
          </span>
        </div>
      </ion-card>
          <!-- DIFFICULTY -->
      <ion-card>
        <ion-item lines="none">
          Difficulty <ion-toggle checked="false" (click)="toggleSearchDifficulty()" color="secondary" slot="end"></ion-toggle>
        </ion-item>
          <ion-segment *ngIf="searchDifficulty" (ionChange)="toggleDifficulty($event)" color="dark" value="easy">
            <ion-segment-button value="easy">
              <ion-label>Easy</ion-label>
            </ion-segment-button>
            <ion-segment-button value="medium">
              <ion-label>Medium</ion-label>
            </ion-segment-button>
            <ion-segment-button value="hard">
              <ion-label>hard</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-card>

      <ion-card *ngIf="queryRecipeName !== '' || searchAvailableIngredients|| searchUndesiredIngredients || searchDifficulty || searchRequiredTime">
        <ion-card-header>
          <ion-item lines="none"><ion-icon slot="start" size="large" color="tertiary" name="reader-outline"></ion-icon><h1>Summary</h1></ion-item>
        </ion-card-header>
        <ion-grid>
          <ion-row *ngIf="queryRecipeName !== ''" class="ion-align-items-stretch">
            <ion-col size="1"><ion-icon color="tertiary" name="key-outline"></ion-icon></ion-col>
            <ion-col size="5">Keywords</ion-col>
            <ion-col>
              <b>{{queryRecipeName}}</b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchRequiredTime">
            <ion-col size="1"><ion-icon color="warning" name="hourglass-outline"></ion-icon></ion-col>
            <ion-col size="5">Ready in</ion-col>
            <ion-col size="6">
              <b>{{maxRequiredTime}} minutes </b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchDifficulty">
            <ion-col size="1"><ion-icon color="secondary" name="flame-outline"></ion-icon></ion-col>
            <ion-col size="5">Difficulty</ion-col>
            <ion-col size="6">
              <b>{{difficulty}} </b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchAvailableIngredients">
            <ion-col size="1"><ion-icon color="success" name="thumbs-up-outline"></ion-icon></ion-col>
            <ion-col size="5">I have</ion-col>
            <ion-col size="6">
              <span *ngFor="let ingredient of this.availableIngredientsKeys">
                <span *ngIf="this.ing.ingredients[ingredient].selected">
                  <ion-chip *ngIf="showAvailableIngredients && this.ing.ingredients[ingredient].selected " color="success">
                    <ion-label color="success">{{ingredient}}</ion-label>
                    <ion-icon (click)="toggleAvailableIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchUndesiredIngredients">
            <ion-col size="1"><ion-icon color="danger" name="thumbs-down-outline"></ion-icon></ion-col>
            <ion-col size="5">
            I don't want
            </ion-col>
            <ion-col size="6">
              <span *ngFor="let ingredient of this.undesiredIngredientsKeys">
                <span *ngIf="this.ingUndesired.ingredients[ingredient].selected">
                  <ion-chip *ngIf="showUndesiredIngredients && this.ingUndesired.ingredients[ingredient].selected " color="danger">
                    <ion-label color="danger">{{ingredient}}</ion-label>
                    <ion-icon (click)="toggleUndesiredIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>


    <br>
    <ion-button (click)="submit()" class="ion-activatable ripple-parent" color="success" expand="block">
      Search
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <br><br>

  </ion-content>
