
<br>
  <ion-content mode="ios" forceOverscroll="true">
      <!-- SEARCH BY NAME -->
      <ion-card>
        <ion-item lines="none" color="tertiary">
          <ion-icon class="desiredIcon" [color]="queryRecipeName !== '' ? 'light' : 'tertiary'" mode="md" slot="start" [name]="searchAllIngredients ? '' : 'checkbox'"></ion-icon>
          Keyword
          </ion-item>
        <ion-searchbar (ionChange)="onChangeName($event)" debounce="250" animated placeholder="Cake, pasta, ...">
        </ion-searchbar>
      </ion-card>

    <h1><ion-item lines="none"><b>Advanced filters</b></ion-item></h1>
    <ion-card class="desiredIcon">
      <ion-item class="desiredIcon" lines="none" color="tertiary" (click)="toggleSearchAllIngredients()">
        <ion-icon class="desiredIcon" [color]="searchAllIngredients ? 'light' : 'light'" mode="md" slot="start" [name]="searchAllIngredients ? 'checkbox' : 'square-outline'"></ion-icon>
        Desired ingredients
        <ion-icon class="desiredIcon" slot="end" [color]="searchAllIngredients ? 'light' : 'tertiary'" [name]="searchAllIngredients ? 'thumbs-up' : ''"></ion-icon>
      </ion-item>
      <ion-toolbar *ngIf="searchAllIngredients">
        <ion-segment (ionChange)="allIngredientsChanged($event)" value="availableIngredients" color="secondary">
          <ion-segment-button value="availableIngredients">
            <ion-icon name="color-wand-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="mainIngredients">
            <ion-icon name="fast-food-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
      <!-- AVAILABLE INGREDIENTS -->
      <ion-card-content *ngIf="searchAllIngredients && searchAvailableIngredients">
        <ion-item lines="none" *ngIf="searchAvailableIngredients" class="ion-justify-content-center">
          <div style="width: 100%; text-align: center;"><h1>I only have...</h1></div>
        </ion-item>
        <!-- SEARCH BAR -->
        <ion-searchbar *ngIf="searchAvailableIngredients" (ionChange)="_ionChangeAvailable($event)" debounce="250" animated placeholder="Type eggs, milk, ...">
        </ion-searchbar>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchAvailableIngredients"  style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
              <ion-icon name="mic-outline" color="primary"></ion-icon> "<b>I have</b> eggs, milk, ..." <br>
              <!--<ion-button shape="round" color="secondary" (click)="speakIngredients('available')"><ion-icon name="mic-outline"></ion-icon></ion-button>-->
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
        <!-- AVAILABLE INGREDIENTS SEARCH RESULT -->
        <ion-card-content *ngIf="showAvailableSearchBarResults && searchAvailableIngredients">
        <ion-col size="12">
          <span *ngFor="let ingredient of this.availableIngredients | keyvalue">
            <ion-chip [color]="this.ing.ingredients[ingredient.value].selected ? 'light' : 'dark'">
              <ion-label [color]="this.ing.ingredients[ingredient.value].selected ? 'success' : 'dark'" (click)="toggleAvailableIngredient(ingredient.value)">{{ingredient.value}}</ion-label>
              <ion-icon (click)="toggleAvailableIngredient(ingredient.value)"
                        [name]="this.ing.ingredients[ingredient.value].selected ? 'checkmark-sharp' : 'add-outline'"
                        [color]="this.ing.ingredients[ingredient.value].selected ? 'success' : 'dark'"></ion-icon>
            </ion-chip>
          </span>
        </ion-col>
        </ion-card-content>
        <!-- AVAILABLE INGREDIENTS SELECTED -->
        <ion-card-content *ngIf="searchAvailableIngredients">
        <ion-col size="12">
              <span *ngFor="let ingredient of this.availableIngredientsKeys">
                <span *ngIf="this.ing.ingredients[ingredient].selected">
                  <ion-chip *ngIf="this.ing.ingredients[ingredient].selected" color="success">
                    <ion-label color="success">{{ingredient}}</ion-label>
                    <ion-icon (click)="toggleAvailableIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
        </ion-col>
        </ion-card-content>
      </ion-card-content>

    <!-- MAIN INGREDIENTS -->
      <ion-card-content *ngIf="searchAllIngredients">
      <ion-item lines="none" *ngIf="searchMainIngredients">
        <div style="width: 100%; text-align: center;"><h1>Recipes with...</h1></div>
      </ion-item>
      <!-- SEARCH BAR -->
      <ion-searchbar *ngIf="searchMainIngredients" (ionChange)="_ionChangeMain($event)" debounce="250" animated placeholder="Type rice, butter, ...">
      </ion-searchbar>
      <!-- SPEECH TO TEXT -->
      <ion-grid *ngIf="searchMainIngredients"  style="height: 100%">
        <ion-row class="ion-align-items-center">
          <ion-col size="1"></ion-col>
          <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
            <ion-icon name="mic-outline" color="primary"></ion-icon> "<b>I like</b> rice, butter, ..." <br>
            <!--<ion-button shape="round" color="secondary" (click)="speakIngredients('available')"><ion-icon name="mic-outline"></ion-icon></ion-button>-->
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>
      <!-- MAIN INGREDIENTS SEARCH RESULT -->
      <ion-card-content *ngIf="showMainSearchBarResults">
        <ion-col size="12">
          <span *ngFor="let ingredient of this.mainIngredients | keyvalue">
            <ion-chip [color]="this.ingMain.ingredients[ingredient.value].selected ? 'light' : 'dark'">
              <ion-label [color]="this.ingMain.ingredients[ingredient.value].selected ? 'success' : 'dark'" (click)="toggleMainIngredient(ingredient.value)">{{ingredient.value}}</ion-label>
              <ion-icon (click)="toggleMainIngredient(ingredient.value)"
                        [name]="this.ingMain.ingredients[ingredient.value].selected ? 'checkmark-sharp' : 'add-outline'"
                        [color]="this.ingMain.ingredients[ingredient.value].selected ? 'success' : 'dark'"></ion-icon>
            </ion-chip>
          </span>
        </ion-col>
      </ion-card-content>
      <!-- MAIN INGREDIENTS SELECTED -->
        <ion-card-content *ngIf="searchMainIngredients">
          <ion-col size="12">
                <span *ngFor="let ingredient of this.mainIngredientsKeys">
                  <span *ngIf="this.ingMain.ingredients[ingredient].selected">
                    <ion-chip *ngIf="this.ingMain.ingredients[ingredient].selected" color="success">
                      <ion-label color="success">{{ingredient}}</ion-label>
                      <ion-icon (click)="toggleMainIngredient(ingredient)" name="close"></ion-icon>
                    </ion-chip>
                  </span>
                </span>
          </ion-col>
        </ion-card-content>
      </ion-card-content>
    </ion-card>

      <!-- MAX TIME REQUIRED -->
      <ion-card class="maxTimeIcon">
        <ion-item class="maxTimeIcon" lines="none" color="tertiary" (click)="toggleRequiredTime()">
          <ion-icon class="maxTimeIcon" color="light" slot="start" [name]="searchRequiredTime ? 'checkbox' : 'square-outline'"></ion-icon>
          Max time required
          <ion-icon class="maxTimeIcon" slot="end" [color]="searchRequiredTime ? 'light' : 'tertiary'" name="stopwatch"></ion-icon>
        </ion-item>
        <ion-list *ngIf="searchRequiredTime" lines="none">
          <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime mode="ios" (ionChange)="timeRequiredChange($event)" minuteValues="0,5,10,15,30,45,50" displayFormat="HH:mm" pickerFormat="HH mm" value="00:00"></ion-datetime>
            </ion-item>
          <ion-row><ion-col size="12"></ion-col></ion-row>
        </ion-list>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchRequiredTime" style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
              <ion-icon name="mic-outline" color="primary"></ion-icon> "<b>Set timer</b> to 40 <b>minutes</b>" <br>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
          <ion-row><ion-col size="12"></ion-col></ion-row>
        </ion-grid>
      </ion-card>

      <!-- UNDESIRED INGREDIENTS -->
      <ion-card class="undesiredIcon">
        <ion-item class="undesiredIcon" lines="none" color="tertiary" (click)="toggleSearchUndesiredIngredients()">
          <ion-icon class="undesiredIcon" color="light" slot="start" [name]="searchUndesiredIngredients ? 'checkbox' : 'square-outline'"></ion-icon>
          Undesired ingredients
          <ion-icon class="undesiredIcon" slot="end" [color]="searchUndesiredIngredients ? 'light' : 'tertiary'" name="thumbs-down"></ion-icon>
          </ion-item>
        <!-- SEARCH BAR -->
        <ion-searchbar *ngIf="searchUndesiredIngredients" (ionChange)="_ionChangeUndesired($event)" debounce="250" animated placeholder="Type milk, mushrooms, ...">
        </ion-searchbar>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchUndesiredIngredients" style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
              <ion-icon name="mic-outline" color="primary"></ion-icon>"<b>I don't want</b> butter, lemons, ..."
              <!--<ion-button shape="round" color="secondary" (click)="speakIngredients('undesired')"><ion-icon name="mic-outline"></ion-icon></ion-button>-->
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
        <!-- UNDESIRED INGREDIENTS SEARCH RESULT -->
        <ion-card-content *ngIf="showUndesiredSearchBarResults && searchUndesiredIngredients" >
        <ion-col size="12">
          <span *ngFor="let ingredient of this.undesiredIngredients | keyvalue">
            <ion-chip [color]="this.ingUndesired.ingredients[ingredient.value].selected ? 'light' : 'dark'">
                <ion-label [color]="this.ingUndesired.ingredients[ingredient.value].selected ? 'danger' : 'dark'" (click)="toggleUndesiredIngredient(ingredient.value)">{{ingredient.value}}</ion-label>
                <ion-icon (click)="toggleUndesiredIngredient(ingredient.value)"
                          [name]="this.ingUndesired.ingredients[ingredient.value].selected ? 'checkmark-outline' : 'add-outline'"
                          [color]="this.ingUndesired.ingredients[ingredient.value].selected ? 'danger' : 'dark'"></ion-icon>
              </ion-chip>
          </span>
        </ion-col>
        </ion-card-content>
        <!-- UNDESIRED INGREDIENTS SELECTED -->
        <ion-card-content *ngIf="searchUndesiredIngredients" >
        <ion-col size="12">
          <span *ngFor="let ingredient of this.undesiredIngredientsKeys">
            <span *ngIf="this.ingUndesired.ingredients[ingredient].selected">
              <ion-chip *ngIf="showUndesiredIngredients && this.ingUndesired.ingredients[ingredient].selected " color="danger">
                <ion-label color="danger">{{ingredient}}</ion-label>
                <ion-icon (click)="toggleUndesiredIngredient(ingredient)" name="close"></ion-icon>
              </ion-chip>
            </span>
          </span>
        </ion-col>
        </ion-card-content>
      </ion-card>
          <!-- DIFFICULTY -->
      <ion-card class="difficultyIcon">
        <ion-item class="difficultyIcon" lines="none" color="tertiary" (click)="toggleSearchDifficulty()">
          <ion-icon class="difficultyIcon" color="light" slot="start" [name]="searchDifficulty ? 'checkbox' : 'square-outline'"></ion-icon>
          Difficulty
          <ion-icon class="difficultyIcon" slot="end" [color]="searchDifficulty ? 'light' : 'tertiary'" name="flame"></ion-icon>
        </ion-item>
          <ion-segment *ngIf="searchDifficulty" (ionChange)="toggleDifficulty($event)" color="dark" [value]="difficulty">
            <ion-segment-button value="easy">
              <ion-label>Easy</ion-label>
            </ion-segment-button>
            <ion-segment-button value="medium">
              <ion-label>Medium</ion-label>
            </ion-segment-button>
            <ion-segment-button value="hard">
              <ion-label>hard</ion-label>
            </ion-segment-button>
          </ion-segment>
        <!-- SPEECH TO TEXT -->
        <ion-grid *ngIf="searchDifficulty" style="height: 100%">
          <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10" class="ion-text-center" style="font-size: 12px;">
              <ion-icon name="mic-outline" color="primary"></ion-icon> "<b>Set difficulty</b> to <b>medium</b>" <br>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
          <ion-row><ion-col size="12"></ion-col></ion-row>
        </ion-grid>
      </ion-card>

    <!-- COLLECTIONS -->
    <ion-card class="collectionIcon">
      <ion-item class="collectionIcon" lines="none" color="tertiary" (click)="toggleSearchCollections()">
        <ion-icon class="collectionIcon" color="light" slot="start" [name]="searchCollections ? 'checkbox' : 'square-outline'"></ion-icon>
        Collections
        <ion-icon class="collectionIcon" slot="end" [color]="searchCollections ? 'light' : 'tertiary'" name="nutrition"></ion-icon>
      </ion-item>
      <ion-item lines="none" *ngIf="searchCollections">
        <ion-label>Collections</ion-label>
        <ion-select multiple="true" placeholder="Choose"  (ionChange)="toggleCollections($event)">
        <span *ngFor="let collectionItem of collectionsFetched">
        <ion-select-option value="{{collectionItem.name}}">{{collectionItem.name}}</ion-select-option>
        </span>
        </ion-select>
      </ion-item>
    </ion-card>




<br><br>
      <ion-card id="summary_animated" style="margin: 16px !important;" *ngIf="queryRecipeName !== '' || searchCollections || searchAllIngredients && (searchAvailableIngredients || searchMainIngredients) || searchUndesiredIngredients || searchDifficulty || searchRequiredTime">
        <ion-card-header>
          <ion-item lines="none"><ion-icon slot="start" size="large" color="tertiary" name="reader-outline"></ion-icon><h1>Summary</h1></ion-item>
        </ion-card-header>
        <ion-grid>
          <ion-row *ngIf="queryRecipeName !== ''" class="ion-align-items-stretch">
            <ion-col size="1"><ion-icon color="tertiary" name="key-outline"></ion-icon></ion-col>
            <ion-col size="5">Keywords</ion-col>
            <ion-col>
              <b>{{queryRecipeName}}</b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchRequiredTime" style="background-color: rgba(255, 196, 9, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleRequiredTime()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="warning" name="stopwatch"></ion-icon></ion-col>
            <ion-col size="4">Ready in</ion-col>
            <ion-col size="6">
              <b>{{maxRequiredTime}} minutes </b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchDifficulty" style="background-color: rgba(61, 194, 255, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchDifficulty()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="secondary" name="flame"></ion-icon></ion-col>
            <ion-col size="4">Difficulty</ion-col>
            <ion-col size="6">
              <b>{{difficulty}} </b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchCollections" style="background-color: rgba(82, 96, 255, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchCollections()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="tertiary" name="nutrition"></ion-icon></ion-col>
            <ion-col size="4">Search in</ion-col>
            <ion-col size="6">
              <span *ngFor="let item of this.collections">
                <li>{{item}}</li>
              </span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchAvailableIngredients && searchAllIngredients" style="background-color: rgba(45, 211, 11, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchAllIngredients()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="success" name="thumbs-up"></ion-icon></ion-col>
            <ion-col size="4">I have</ion-col>
            <ion-col size="6">
              <span *ngFor="let ingredient of this.availableIngredientsKeys">
                <span *ngIf="this.ing.ingredients[ingredient].selected">
                  <ion-chip *ngIf="this.ing.ingredients[ingredient].selected " color="success">
                    <ion-label color="success">{{ingredient}}</ion-label>
                    <ion-icon (click)="toggleAvailableIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchMainIngredients && searchAllIngredients" style="background-color: rgba(45, 211, 11, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchAllIngredients()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="success" name="thumbs-up"></ion-icon></ion-col>
            <ion-col size="4">Something with</ion-col>
            <ion-col size="6">
              <span *ngFor="let ingredient of this.mainIngredientsKeys">
                <span *ngIf="this.ingMain.ingredients[ingredient].selected">
                  <ion-chip *ngIf="this.ingMain.ingredients[ingredient].selected " color="success">
                    <ion-label color="success">{{ingredient}}</ion-label>
                    <ion-icon (click)="toggleMainIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="searchUndesiredIngredients" style="background-color: rgba(235, 68, 90, 0.05); border-radius: 15px;">
            <ion-col size="1"><ion-icon color="danger" name="close" (click)="toggleSearchUndesiredIngredients()"></ion-icon></ion-col>
            <ion-col size="1"><ion-icon color="danger" name="thumbs-down"></ion-icon></ion-col>
            <ion-col size="4">
            I don't want
            </ion-col>
            <ion-col size="6">
              <span *ngFor="let ingredient of this.undesiredIngredientsKeys">
                <span *ngIf="this.ingUndesired.ingredients[ingredient].selected">
                  <ion-chip *ngIf="showUndesiredIngredients && this.ingUndesired.ingredients[ingredient].selected " color="danger">
                    <ion-label color="danger">{{ingredient}}</ion-label>
                    <ion-icon (click)="toggleUndesiredIngredient(ingredient)" name="close"></ion-icon>
                  </ion-chip>
                </span>
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    <ion-card style="margin: 16px !important;" *ngIf="!(queryRecipeName !== '' || searchCollections || searchAllIngredients && (searchAvailableIngredients || searchMainIngredients) || searchUndesiredIngredients || searchDifficulty || searchRequiredTime)">
      <ion-card-header>
        <ion-item lines="none"><ion-icon slot="start" size="large" color="tertiary" name="reader-outline"></ion-icon><h1>Summary</h1></ion-item>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <div style="width: 100%; text-align: center;"><b>No filter selected</b></div>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-grid *ngIf="(queryRecipeName !== '' || searchCollections || searchAllIngredients && (searchAvailableIngredients || searchMainIngredients) || searchUndesiredIngredients || searchDifficulty || searchRequiredTime)">
      <ion-row>
        <ion-col size="3"></ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-item color="tertiary" (click)="submit()" style="border-radius: 15px">
          <ion-icon slot="start" color="light" name="search-sharp"></ion-icon>Search
        </ion-item>
      </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab id="mic_animated" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button *ngIf="voiceActiveSectionDisabled && !speaking" color="tertiary" (click)="startVoiceRecognition()" mode="ios">
        <ion-icon name="mic-outline" mode="ios" style="font-size: 2em;"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="!voiceActiveSectionDisabled && !speaking" color="danger" (click)="closeVoiceRecognition()" mode="ios">
        <ion-icon name="mic-outline" mode="ios" style="font-size: 2em;"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="speaking" color="warning" mode="ios">
        <ion-icon name="mic-outline" mode="ios" style="font-size: 2em;"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div class="assistant-overlay" *ngIf="speaking || !voiceActiveSectionDisabled">
      <p style="color: #ffffff"><span slot="start" class="ion-text-end">{{voiceTextUser}}</span></p>
    </div>

    <!--
    <div *ngIf="voiceActiveSectionDisabled; else voicesection;">
      <button type=”button” (click)="startVoiceRecognition()">Record</button>
    </div>
    <ng-template #voicesection>
      <ng-container *ngIf="!voiceActiveSectionError; else failure">
        <ng-container *ngIf="voiceText; else start">
          <span>{{voiceText}}</span>
        </ng-container>
        <ng-template #start>
          <ng-container *ngIf="voiceActiveSectionListening; else beginning">
            <span>Listening…</span>
          </ng-container>
          <ng-template #beginning>
            <span>Start talking…</span>
          </ng-template>
        </ng-template>
      </ng-container>
      <ng-template #failure>
        <span>Didn’t catch that</span>
      </ng-template>
      <div>
        <button (click)="closeVoiceRecognition()">Close</button>
        <button (click)="startVoiceRecognition()">Restart</button>
      </div>
    </ng-template>
    -->


  </ion-content>
