<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <!-- First time in app instructions -->
  <div id="instruction-overlay" padding [hidden]="overlayHidden">
    <ion-slides id="slides" [options]="slideOpts">
      <ion-slide>
        <ion-label color="mainDark">Welcome!</ion-label>
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; width: 95%; top:5%" color="mainDark">Explore our collections of recipes</ion-label>
        <img style="position:relative; top:6%; height:80%; width: 95%;" src="assets/slides/collections.gif">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%" color="mainDark">Create and manage your own collections</ion-label>
        <img style="top:6%; width: 95%;" src="assets/slides/favorites.gif">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%" color="mainDark">Search for recipes with our advanced search</ion-label>
        <img style="top:6%; width: 95%;" src="assets/slides/search-cropped.gif">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%" color="mainDark">Add and remove recipes from your grocery list</ion-label>
        <img style="top:6%; width: 95%;" src="assets/slides/grocery-cropped.gif">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%;" color="mainDark">Set a timer</ion-label>
        <img style="position:relative; top:5%; width: 95%; height:80%;" src="assets/slides/timer.gif">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%" color="mainDark" >Next time you see this icon, ask Cindy, our voice assistant:</ion-label>
        <ion-label style="position:absolute; top:20%; width: 95%"  color="mainDark" >“What can I ask you?”</ion-label>
        <img style="position:absolute; top:25%; width: 75%;" src="assets/slides/voice-assistant-cropped.gif" >
        <ion-label style="position:absolute; top:60%; width: 95%" color="mainDark" >When <strong>blue</strong>, she's idle,</ion-label>
        <ion-label style="position:absolute; top:65%; width: 95%" color="mainDark" >if <strong><span style="color:orange"> yellow</span></strong>, she's listening</ion-label>
        <ion-label style="position:absolute; top:70%; width: 95%" color="mainDark" >if <strong><span style="color:red"> red</span></strong>, she's talking</ion-label>
        <ion-button style="position:absolute; top:80%; width: 98%" color="mainLight" (click)="askPermission()">Give microphone permission</ion-button>
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%;" color="mainDark">Let's cook something!</ion-label>
        <ion-button style="position:relative; top:6%;" color="mainLight" (click)="hideOverlay()">Ready!</ion-button>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLinkActive="tab-selected" routerLink="/presentation" class="ios" tab="presentation">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/search-recipe" class="ios" tab="search-recipe">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-recipe" class="ios" tab="add-recipe">
        <ion-icon name="add-circle"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/collections" class="ios" tab="collections">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/groceries" class="ios" tab="groceries">
        <ion-icon name="cart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/preferences" class="ios" tab="preferences">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>


