@font-face {
  font-family: 'RobotoSlab';
  src: url("../assets/fonts/RobotoSlab.ttf");
}

ion-tab-bar{
  --ion-background-color: #ffffff;
}

ion-icon{
  color: var(--ion-color-mainMedium);
}

.ion-color-mainDark{
  --ion-color-base: var(--ion-color-mainDark);
}
.ion-color-mainMedium{
  --ion-color-base: var(--ion-color-mainMedium);
}
.ion-color-mainLight{
  --ion-color-base: var(--ion-color-mainLight);
}
