@font-face {
  font-family: 'RobotoSlab';
  src: url("../assets/fonts/RobotoSlab.ttf");
}

ion-tab-bar{
  --ion-background-color: #ffffff;
}

ion-icon{
  color: var(--ion-color-mainMedium);
}

.ion-color-mainDark{
  --ion-color-base: var(--ion-color-mainDark);
}
.ion-color-mainMedium{
  --ion-color-base: var(--ion-color-mainMedium);
}
.ion-color-mainLight{
  --ion-color-base: var(--ion-color-mainLight);
}

#instruction-overlay {
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.87);

  #slides{
    white-space: pre-line;
    position: relative;
    top: 5%;
    width: 90%; height:90%;
    background: white;
    border-radius: 15px
  }
}

.ion-color-mainDark{
  --ion-color-base: var(--ion-color-mainDark);
}
.ion-color-mainMedium{
  --ion-color-base: var(--ion-color-mainMedium);
}
.ion-color-mainLight{
  --ion-color-base: var(--ion-color-mainLight);
}

*{
  font-family: RobotoSlab;
}

