<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLinkActive="tab-selected" routerLink="/presentation" class="ios" tab="presentation">
        <ion-icon name="pizza-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/search-recipe" class="ios" tab="search-recipe">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-recipe" class="ios" tab="add-recipe">
        <ion-icon name="add-circle"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/collections" class="ios" tab="collections">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/groceries" class="ios" tab="groceries">
        <ion-icon name="cart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/preferences" class="ios" tab="preferences">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>


