<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <!-- First time in app instructions -->
  <ion-content id="instruction-overlay" padding [hidden]="overlayHidden">
    <ion-slides #slides id="slides" pager="True" [options]="slideOpts">
      <ion-slide>
        <ion-label style="position:absolute; width: 95%; top:15%" color="mainDark">Welcome to</ion-label>
        <img id="logo" style="position:absolute; top:0; height:80%; " src="https://firebasestorage.googleapis.com/v0/b/testrecipes-fe5a1.appspot.com/o/slides%2Fblue_bluberries_icon.png?alt=media&token=68f35b49-f053-427d-89dc-797958dcb98c">
        <ion-label class="nextButton" *ngIf="!labelHidden">Loading...</ion-label>
        <ion-button class="nextButton" *ngIf="labelHidden" color="mainMedium" (click)="nextSlide()">Start</ion-button>
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; width: 95%; top:5%" color="mainDark">Explore our collections of recipes</ion-label>
        <img style="position:relative; top:6%; height:80%; width: 95%;" src="https://firebasestorage.googleapis.com/v0/b/testrecipes-fe5a1.appspot.com/o/slides%2Fcollections.gif?alt=media&token=23041cbb-b2c4-4526-baf7-a46f12ab43e0">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%" color="mainDark">Create and manage your own collections</ion-label>
        <img style="top:6%; width: 95%;" src="https://firebasestorage.googleapis.com/v0/b/testrecipes-fe5a1.appspot.com/o/slides%2Ffavorites.gif?alt=media&token=565cff8c-4801-494c-b1b2-121611d66b18">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%" color="mainDark">Search for recipes with our advanced search</ion-label>
        <img style="top:6%; width: 95%;" src="https://firebasestorage.googleapis.com/v0/b/testrecipes-fe5a1.appspot.com/o/slides%2Fsearch-cropped.gif?alt=media&token=62266d93-92b7-4046-b433-060918e38c3d">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%" color="mainDark">Add and remove recipes from your grocery list</ion-label>
        <img style="top:6%; width: 95%;" src="https://firebasestorage.googleapis.com/v0/b/testrecipes-fe5a1.appspot.com/o/slides%2Fgrocery-cropped.gif?alt=media&token=71172935-0c2d-4859-8440-40d0234b71b6">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%;" color="mainDark">Set a timer</ion-label>
        <img style="position:relative; top:5%; width: 95%; height:80%;" src="https://firebasestorage.googleapis.com/v0/b/testrecipes-fe5a1.appspot.com/o/slides%2Ftimer.gif?alt=media&token=6bf8150d-5935-415b-91d5-44f5dbe85f37">
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%" color="mainDark" >Next time you see this icon, ask Cindy, our voice assistant:</ion-label>
        <ion-label style="position:absolute; top:20%; width: 95%"  color="mainDark" >“What can I ask you?”</ion-label>
        <img style="position:absolute; top:25%; width: 75%;" src="https://firebasestorage.googleapis.com/v0/b/testrecipes-fe5a1.appspot.com/o/slides%2Fvoice-assistant-cropped.gif?alt=media&token=03b9a8b3-b640-40bb-9df3-12d1805709ad" >
        <ion-label style="position:absolute; top:60%; width: 95%" color="mainDark" >When <strong>blue</strong>, she's idle,</ion-label>
        <ion-label style="position:absolute; top:70%; width: 95%" color="mainDark" >if <strong><span style="color:red"> red</span></strong>, she's listening</ion-label>
        <ion-label style="position:absolute; top:65%; width: 95%" color="mainDark" >if <strong><span style="color:orange"> yellow</span></strong>, she's talking</ion-label>
        <ion-button style="position:absolute; top:80%; width: 98%" color="mainLight" (click)="askPermission()">Give microphone permission</ion-button>
      </ion-slide>
      <ion-slide>
        <ion-label style="position:absolute; top:5%; width: 95%;" color="mainDark">Let's cook something!</ion-label>
        <ion-button style="position:relative; top:6%;" color="mainLight" (click)="hideOverlay()">Ready!</ion-button>
      </ion-slide>
    </ion-slides>
  </ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLinkActive="tab-selected" routerLink="/presentation" class="ios" tab="presentation">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/search-recipe" class="ios" tab="search-recipe">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-recipe" class="ios" tab="add-recipe">
        <ion-icon name="add-circle"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/collections" class="ios" tab="collections">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/groceries" class="ios" tab="groceries">
        <ion-icon name="cart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLinkActive="tab-selected" routerLink="/preferences" class="ios" tab="preferences">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>


