
<!-- Default back button -->
<ion-header>
  <ion-toolbar color="">
    <ion-grid color="">
      <ion-row class="ion-justify-content-between">
        <ion-buttons>
          <ion-back-button color="mainMedium" defaultHref="{{this.lastPage}}" text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>

        <ion-buttons color="light" style="position: absolute; right: +40px; top: +13px;">
          <ion-button (click)="addRemoveCart(data.$key)">
            <ion-icon id="groceryList" size = "large" [name] = "isInGroceryList ? 'cart' : 'cart-outline'" (click)="addRemoveCart(data.$key)" color="mainMedium"></ion-icon>
            <ion-badge id="groceryBadge" color="danger" style="position: absolute; right: -5px; top: 0px; font-size: 0.8em; --padding-start: 5px;--padding-end: 5px; --padding-top: 2px; --padding-bottom: 2px">{{ recipeNumberInCart }}</ion-badge>
          </ion-button>

          <ion-icon id="presentPopover" size = "large" [name] = "isInAnyCollection ? 'heart' : 'heart-outline'" (click)="presentPopover($event, data.$key)" color="danger"></ion-icon>
          <ion-icon id="timer" (click)="toggleTimer()" name="stopwatch-outline" size="large" [color]="timerState === 'start' ? 'mainMedium' : 'mainMedium'"></ion-icon>
        </ion-buttons>
      </ion-row>

      <ion-row class="ion-justify-content-center" *ngIf="timerToggle && timerState === 'start'" style="color: #FFFFFF">
        <ion-item lines="none" style="--ion-background-color: #FFFFFF">
          <ion-chip color="primary-contrast">
            <ion-icon id="timerPlay" (click)="startTimer()" *ngIf="timerState === 'stop'" size="large" color="mainDark" name="play-circle-outline"></ion-icon>
            <ion-icon id="timerStop" (click)="stopTimer()" *ngIf="timerState === 'start'" size="large" color="danger" name="stop-outline"></ion-icon>
            <ion-label [color]="timerState === 'start' ? 'mainDark' : 'mainDark'"> <h2>{{time | async}}</h2></ion-label>
          </ion-chip>
        </ion-item>
      </ion-row>

      <ion-row style="color: #FFFFFF" class="ion-justify-content-center" *ngIf="timerToggle && timerState === 'stop'">
          <ion-chip lines="none" color="primary-contrast">
            <ion-icon name="play-circle-outline" color="mainDark" size="large"></ion-icon>
            <ion-label color="mainDark">
              <ion-datetime style="padding: 0!important; margin: 0!important;" mode="md" (ionChange)="setTimer($event)" displayFormat="HH:mm" pickerFormat="HH mm" value="00:00"></ion-datetime>
            </ion-label>
          </ion-chip>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="pickgradient">
    <img id="titleImage" src="{{this.recipeImages[this.data.$key + '_' + (this.currentImg)]}}"/>
  </div>
  <ion-card style="border-radius: 15px; margin-top: -70px">
    <ion-card-header color="mainDark">
      <ion-card-title><ion-label text-wrap color="light">{{data.name}}</ion-label></ion-card-title>
    </ion-card-header>
      <ion-list lines="none">
        <ion-item><ion-icon slot="start" color="primary" name="restaurant-outline" ></ion-icon><span>Ready in: {{data.recipeTime}} mins</span></ion-item>
        <ion-item><ion-icon slot="start" [color]="difficultyColor" name="flame-outline"></ion-icon> <span>Difficulty: {{data.recipeDifficulty}} </span></ion-item>
        <ion-item *ngIf="data.videoUrl !== ''" href="{{data.videoUrl}}"><ion-icon slot="start" color="danger" name="logo-youtube"></ion-icon> Video available </ion-item>
      </ion-list>
      <ion-item lines="none" *ngIf="this.data.desiredFood" style="padding: 20px 0px 20px 0px!important;">
        <span><ion-chip style="background-color: #264B78; color: #FFFFFF" *ngFor="let item of desiredFood"><p (click)="searchSpecificDesiredFood(this.data.desiredFood[item])">{{this.data.desiredFood[item]}} </p></ion-chip></span>
      </ion-item>
    <ion-item style="padding-top: 20px!important;" lines="none" class="ion-text-center"><ion-icon size="large" color="mainDark" slot="start" name="reader-outline"></ion-icon><h1> Ingredients</h1>
    </ion-item>
    <ion-card-content>
      <ul *ngFor="let ingredient of data.ingredients | keyvalue">
        <li *ngIf="ingredient.value.selected && ingredient.value.dose!=0">{{ingredient.value.dose}} {{ingredient.value.unit}} {{ingredient.key.split("_").join(" ").toLowerCase()}}</li>
        <li *ngIf="ingredient.value.selected && ingredient.value.dose==0">{{ingredient.value.unit}} {{ingredient.key.split("_").join(" ").toLowerCase()}}</li>
      </ul>
    </ion-card-content>
  </ion-card>


  <div id="recipeText">
  </div>

  <ion-fab id="mic_animated" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="voiceActiveSectionDisabled && !speaking" color="mainDark" (click)="startVoiceRecognition()" mode="ios">
      <ion-icon name="mic-outline" mode="ios" style="font-size: 2em; color: #ffffff"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!voiceActiveSectionDisabled && !speaking" color="danger" (click)="closeVoiceRecognition()" mode="ios">
      <ion-icon name="mic-outline" mode="ios" style="font-size: 2em;"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="speaking" color="warning" mode="ios">
      <ion-icon name="mic-outline" mode="ios" style="font-size: 2em;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

