<ion-header>
  <ion-toolbar>
    <ion-grid color="secondary">
      <ion-row class="ion-justify-content-between">
        <ion-buttons>
          <ion-back-button defaultHref="{{this.lastPage}}" text="" color="mainDark" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
          <ion-title *ngIf="titlePage" color="mainDark"><ion-label text-wrap>{{titlePage}}</ion-label></ion-title>
          <ion-title *ngIf="!titlePage" color="mainDark"><ion-label text-wrap><h1><b>Recipes</b></h1></ion-label></ion-title>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content style="color: #FFFFFF;">
    <div style="color: rgb(38,75,120)!important; padding: 0px 0px 0px 20px;"></div>

    <div style="margin: 0px !important; padding: 0px!important;">
        <ion-card *ngIf="noRecipe" style="border-radius: 15px;">
            <div class="card" disabled="true" style="color: #FFFFFF; padding: 0px">
                <img src="../../assets/img/empty_dish.png"/></div>
            <ion-card-header style="padding-bottom: 0px;padding-top: 5px;">
                <ion-card-title color="mainMedium"><h1><b>Empty Dish</b></h1></ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-label>
                          No recipe found :(
                </ion-label>
            </ion-card-content>
        </ion-card>

        <ion-list *ngIf="dataFetched" lines="none" class="ios list-ios hydrated ion-justify-content-center">
        <ion-item *ngFor="let recipeItem of recipes; let recipeIndex=index" class="user-list" style="color: #FFFFFF; margin: 0px!important;">
          <ion-card style="border-radius: 15px; margin: 0px 0px 20px 0px !important;">
              <div class="card" disabled="true" style="color: #FFFFFF; padding: 0px">
                  <img src="{{recipeItem.title_image}}" (click)="openRecipe(recipeItem)"/>
                  <ion-icon *ngIf="isInAnyCollection[recipeIndex]" color="danger" (click)="presentPopover($event, recipeItem.$key, recipeIndex)" style="position: absolute; right: +25px; top: +13px;" size = "large" name="heart"></ion-icon>
                  <ion-icon *ngIf="!isInAnyCollection[recipeIndex]" color="danger" (click)="presentPopover($event, recipeItem.$key, recipeIndex)" style="position: absolute; right: +25px; top: +13px;" size = "large" name="heart-outline"></ion-icon>
              </div>
              <ion-card-header style="padding-bottom: 0px;padding-top: 5px;" (click)="openRecipe(recipeItem)">
                  <ion-card-title color="mainMedium"><h1><b>{{recipeItem.name}}</b></h1></ion-card-title>
              </ion-card-header>
              <ion-card-content (click)="openRecipe(recipeItem)">

                      <ion-label>
                          <span>
                              <ion-icon slot="start" color="primary" name="restaurant-outline" ></ion-icon> {{recipeItem.recipeTime}} mins
                          </span>
                          <span>
                              <span *ngIf="recipeItem.recipeDifficulty.toLowerCase() === 'easy'"><ion-icon slot="start" color="success" name="flame-outline"></ion-icon>{{recipeItem.recipeDifficulty}}</span>
                              <span *ngIf="recipeItem.recipeDifficulty.toLowerCase() === 'medium'"><ion-icon slot="start" color="warning" name="flame-outline"></ion-icon>{{recipeItem.recipeDifficulty}}</span>
                              <span *ngIf="recipeItem.recipeDifficulty.toLowerCase() === 'hard'"><ion-icon slot="start" color="danger" name="flame-outline"></ion-icon>{{recipeItem.recipeDifficulty}}</span>
                          </span>
                      </ion-label>

              </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
