<ion-header>
  <ion-toolbar>
    <ion-grid color="secondary">
      <ion-row class="ion-justify-content-between">
        <ion-buttons>
          <ion-back-button defaultHref="{{this.lastPage}}" text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
          <ion-title>{{titlePage}}</ion-title>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list *ngIf="dataFetched" lines="none" class="ios list-ios hydrated ion-justify-content-center">
    <ion-item *ngFor="let recipeItem of recipes" class="user-list" color="light">
      <ion-card style="border-radius: 15px; margin: 10px !important;">
          <div class="card" disabled="true">
            <img src="{{recipeItem.title_image}}" (click)="openRecipe(recipeItem)"/>
              <ion-icon color="danger" (click)="presentPopover($event, recipeItem.$key)" style="position: absolute; right: +25px; top: +13px;" size = "large" name="heart"></ion-icon>
          </div>
          <ion-card-header (click)="openRecipe(recipeItem)">
            <ion-card-title>{{recipeItem.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content (click)="openRecipe(recipeItem)">
              <h2>
                  <ion-list>
                      <span>
                          <ion-icon slot="start" color="primary" name="restaurant-outline" ></ion-icon> {{recipeItem.recipeTime}} mins
                      </span>
                      <span>
                          <ion-icon slot="start" color="danger" name="flame-outline"></ion-icon>{{recipeItem.recipeDifficulty}}
                      </span>
                  </ion-list>
              </h2>
          </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
