<ion-content>
  <br>
  <ion-list class="ios list-ios hydrated">

    <ion-item *ngFor="let collectionItem of collections" class="user-list">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{collectionItem.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content (click)="openCollection(collectionItem)">
          <div class="card">
            <img src="{{collectionItem.coverPhoto}}"/>
          </div>
          <br>
          <div>
            <ion-icon name="archive"></ion-icon> {{collectionItem.recipeNumber}} recipes
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
