<ion-header>
  <ion-toolbar>
    <ion-title color="mainDark" class="ion-text-center"><ion-label text-wrap><h1><b>My collections</b></h1></ion-label></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list class="ios list-ios hydrated">
    <div>
      <ion-card (click)="openCollection(favoriteCollection)">
        <img src="{{favoriteCollection.coverPhoto}}"/>
        <ion-card-header>
          <ion-label color="mainMedium"><h1><b>{{favoriteCollection.name}}</b></h1></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            {{favoriteCollection.recipeNumber}} recipes
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-list lines="none" *ngFor="let collectionItem of collections; let collectionIndex=index;"  class="user-list">
      <div>
          <ion-card>
            <div class="card">
              <img src="{{collectionItem.coverPhoto}}" (click)="openCollection(collectionItem)"/>
              <ion-icon color="danger" (click)="presentPopover($event, collectionItem, collectionIndex)" style="position: absolute; right: +25px; top: +13px;" size = "large" name="trash"></ion-icon>
            </div>
            <ion-card-header (click)="openCollection(collectionItem)">
              <ion-label color="mainMedium"><h1><b>{{collectionItem.name}}</b></h1></ion-label>
            </ion-card-header>

            <ion-card-content>
              {{collectionItem.recipeNumber}} recipes
            </ion-card-content>
          </ion-card>
      </div>

    </ion-list>
  </ion-list>


</ion-content>
