<ion-header>
  <ion-toolbar>
    <ion-title color="mainDark" class="ion-text-center"><ion-label text-wrap><h1><b>My collections</b></h1></ion-label></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list class="ios list-ios hydrated">
    <div>
      <ion-card (click)="openCollection(favoriteCollection)">
        <img src="{{favoriteCollection.coverPhoto}}"/>
        <ion-card-header>
          <ion-label color="mainMedium"><h1><b>{{favoriteCollection.name}}</b></h1></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            {{favoriteCollection.recipeNumber}} recipes
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-list lines="none" *ngFor="let collectionItem of collections; let collectionIndex=index;"  class="user-list">
      <ion-item-sliding>
        <ion-item color="">
          <ion-card (click)="openCollection(collectionItem)" style="margin: 10px 0px 10px 0px!important;" color="">
            <div class="card">
              <img src="{{collectionItem.coverPhoto}}"/>
            </div>
            <ion-card-header>
              <ion-label color="mainMedium"><h1><b>{{collectionItem.name}}</b></h1></ion-label>
            </ion-card-header>

            <ion-card-content>
              {{collectionItem.recipeNumber}} recipes
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteCollection(collectionItem, collectionIndex)">
            <ion-icon slot="top" name="trash">Delete collection</ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ion-list>


</ion-content>
