<ion-header>
  <ion-toolbar>
    <ion-grid color="secondary">
      <ion-row class="ion-justify-content-between">
        <ion-buttons>
          <ion-back-button defaultHref="{{this.lastPage}}" text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>Grocery list</ion-title>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content color="light">
    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide *ngFor="let recipeItem of recipesInGroceryList; let recipeIndex=index">
        <ion-card  class="myCard pickgradient">
          <ion-checkbox color="primary" checked="true" style="position: absolute; left: +10px; top: +13px;" (click)="checkUncheckRecipe(recipeIndex)"></ion-checkbox>
          <img src="{{recipeItem.title_image}}" class="pickgradient" (click)="openRecipe(recipeItem)">
          <div class="myOverlay pick">
            <div>{{ recipeItem.name }}</div>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

  <ion-list class="user-list">
    <ion-item *ngFor="let ingredient of ingredients; let ingredientIndex=index">
      <ion-label>{{ingredient.name}} - {{ingredient.quantity}} {{ingredient.unity}}</ion-label>
      <ion-checkbox *ngIf="ingredient.checked" checked="true" color="primary" type="checkbox" (click)="checkUncheckIngredient($event, ingredient)" ></ion-checkbox>
      <ion-checkbox *ngIf="!ingredient.checked" checked="false" color="primary" type="checkbox" (click)="checkUncheckIngredient($event, ingredient)" ></ion-checkbox>
    </ion-item>
  </ion-list>


</ion-content>
